body{
    --stripe: #cfd8dc;
  --bg: #e1e1e1;

  background: linear-gradient(135deg, var(--bg) 25%, transparent 25%) -50px 0,
    linear-gradient(225deg, var(--bg) 25%, transparent 25%) -50px 0,
    linear-gradient(315deg, var(--bg) 25%, transparent 25%),
    linear-gradient(45deg, var(--bg) 25%, transparent 25%);
  background-size: 100px 100px;
  background-color: var(--stripe);
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 24px;
  padding: 16px;
  margin-top: -50px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  margin-right: 15%;
}

.prev:hover,
.next:hover {
  background-color: white;
}

.slides {
    padding-left: 5%;
}

.container {
    margin-top: 20%;
}

.row{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 100px;
  overflow-x: scroll;
  overflow-y: hidden;
  width:100%;

}

.row > *{
  width:100px;
  height:100px
}